.footerClass {
    background-color: black;
    height: 4rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerTextClass {
    color: white;
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    margin: 0%;
}
