.headerClass {
    background-color: black;
    height: 4rem;
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0%;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.headerTextClass {
    color: white;
    font-size:  14pt;
    font-weight: normal;
    text-align: right;
    margin-top: 1rem;
    margin-right: 2%;
}

.homeLink {
    position: absolute;
    left: 16px;
    color: rgb(255, 255, 255);
    font-size: 14pt;
    
    text-align: left;
    height: 2rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 30px 30px 0px;
}

.homeLink:hover {
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    cursor: pointer;

    margin-top: 0.5rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;

    height: 2rem;    
    font-size: 14pt;
}

.connect {
    position: relative;
    left: 16px;
    color: rgb(255, 255, 255);
    font-size: 14pt;
    
    text-align: left;
    height: 2rem;

    margin-top: 0.5rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 30px 0px 0px 30px;
}

.connect:hover {
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    cursor: pointer;

    margin-top: 0.5em;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;

    height: 2rem;    
    font-size: 14pt;
}

.saveButton {
    background-color: #0508cad0;
    border-radius: 15px;
    box-shadow: rgba(70, 44, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 77, 187, 0.15) 0 1px 2px,rgba(44, 46, 187, 0.15) 0 2px 4px,rgba(65, 44, 187, 0.15) 0 4px 8px,rgba(44, 70, 187, 0.15) 0 8px 16px,rgba(46, 44, 187, 0.15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .saveButton:hover {
    box-shadow: rgba(70, 44, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 77, 187, 0.15) 0 1px 2px,rgba(44, 46, 187, 0.15) 0 2px 4px,rgba(65, 44, 187, 0.15) 0 4px 8px,rgba(44, 70, 187, 0.15) 0 8px 16px,rgba(46, 44, 187, 0.15) 0 16px 32px;
    transform: scale(1.15);
    cursor: pointer;
    font-weight: bold;
  }