body:not(.loaded) #slider img {
    display:none;
  }

.bodyClass {
    margin: 0%;
    padding: 0%;
}

.mainSectionClass {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0%;
    bottom: 0%;
}

.menuDivClass {
    height: 100%;
    width: 25%;
    position: relative;
    background-color: rgb(0, 0, 0);
    float: left;
}

.contentDivClass {
    content: url("../img/SystemControlPanel_1.jpg");
    top: 0%;
    bottom: 0%;
    height: 100%;
    width: 75%;
    position: relative;
    z-index: 1;
    
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);   
}

.menuTitleClass {
    color: white;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    margin: 0%;
    margin-bottom: 3rem;
}

.menuOptionDivClass {
    height: 2rem;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    margin-left: 1rem;
    padding-left: 1rem;
    border-radius: 30px 0px 0px 30px;
}

.menuOptionDivClass:hover {
    background-color: rgb(255, 255, 255);
    height: 2rem;
    opacity: 60%;
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    margin-left: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

.menuOptionDivClassActive {
    background-color: rgb(255, 255, 255);
    height: 2rem;
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    margin-left: 1rem;
    padding-left: 1rem;
    opacity: 90%;
}

.contentOptionDivAnimationClass {
    background-color: rgb(255, 255, 255);
    top: 0%;
    left: 25%;
    height: 75%;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: 3%;
    z-index: 2;
    position: absolute;
    overflow: hidden;    
    opacity: 80%;

    animation-name: moveLeft;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

    display: flex;
    flex-direction:column;
    vertical-align: middle;
    padding-top: 10%;
    padding-left: 5%;
}

@keyframes moveLeft {
    0%   {width:0%;}
    100% {width:70%;}
}

.divInformation {
    margin-bottom: 1rem;   
}

.divTitle {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 65);
    display: inline-block;
    width: 15rem;
}

.divValue {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 65);
    display: inline-block;
}

.divTitleBox {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 65);
    width: 90%;
}

.textAreaBox {
    width: 90%;
    height: 60%;
    border: 2px solid rgb(0, 0, 50);
    border-radius: 4px;
    background-color: rgb(255, 255, 230);
    font-size: 16px;
    resize: none;
    padding: 12px 20px;
}

.textAreaBox:focus {
    width: 90%;
    height: 60%;
    border: 2px solid rgb(0, 0, 50);
    border-radius: 4px;
    background-color: rgb(255, 255, 200);
    font-size: 16px;
    resize: none;
    padding: 12px 20px;
}

.saveButton {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.saveButton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  cursor: pointer;
}

.divInputBox {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 65);
    width: 20%;
    display: inline-block;
}

.inputBox {
    width: fit-content;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(255, 255, 230);
    font-size: 16px;
}

.inputBox:focus {
    width: fit-content;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(255, 255, 200);
    font-size: 16px;
}